*{
    --header-height: 900px;
}
.navigation{
    flex-direction: column;
}
/*=======================================*/
/* --Index-- */
/*=======================================*/
.indexHeader{
    flex-direction: column;
}
.indexHeader .imagesContainer{
    margin-left: 0em;
    width: 100%;
}
.inspirationHeader{
    padding-left: 0em;
}
.inspiration .firstChunk{
    flex-direction: column;
}
.inspirationPOne{
    width: 100%;
}
.inspiration .firstChunk .imagesContainer{
    width: 70%;
    margin: 2em auto;
}
.inspiration .firstChunk .imagesContainer .mapImagesContainer{
    width: 100%;
}
.inspirationHeader2{
    padding-left: 0em;
}
.devImagesContainer{
    flex-direction: column;
}
.devImageWrapper{
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.logoImage{
    width: 100%;
}
.logoImg{
    width: 5em;
    height: 5em;
}
.footerRightSide{
    flex-direction: column;
    width: 100%;
    box-shadow: 0px -6px 8px -4px rgba(0,0,0,0.7);
    padding: 0em;
}
footer .navLinks{
    min-height: 130px;
    margin-bottom: 2em;
}
.socialsEmailContainer{
    width: 90%;
    margin: auto;
    justify-content: center;
}
.contactContainer{
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.socialsContainer{
    margin: 2em auto;
}

/*=======================================*/
/* --Tour-- */
/*=======================================*/
.tour{
    width: 90%;
}
.tour h1{
    font-size: 2.5em;
}
.tourWrapper{
    flex-direction: column;
    height: auto;
    width: 100%;
}
.tourWrapper .leftSide{
    width: 100%;
}
.tourWrapper .rightSide{
    width: 100%;
}
.tourWrapper .rightSide .tourImageContainer{
    border-radius: 2.5em;
    padding: 0.5em;
}
/*=======================================*/
/* --Contributors-- */
/*=======================================*/
.contributorMainTitle{
    padding-left: 0;
    width: 85%;
    margin: auto;
    text-align: center;
}
.contributorContainer{
    flex-direction: column;
    align-items: center;
}
.contributorContainer>div{
    width: 100%;
}