*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    --gold: rgb(233, 187, 66);
    --green: rgb(63, 98, 59);
    --header-height: 100vh;
}
body{
    width: 100%;
    background:linear-gradient(0deg, var(--green), rgb(28, 48, 26));
    background-attachment: fixed;
    transform: translateY(-50px)
}
/* main{
    width: 100%;
    background:linear-gradient(0deg, var(--green), rgb(28, 48, 26));
    background-attachment: fixed;
    transform: translateY(-50px)
} */
img{
    max-width: 100%;
}
a:visited{
    color: none;
}
/*=======================================*/
/* Navigation */
/*=======================================*/
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    height: 50px;
    margin: auto;
    transform: translateY(50px);
    z-index: 1;
}
.navigation a, .navigation a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1em;
    transition: all ease-in-out 150ms;
}
.navigation a:hover{
    color: var(--gold);
}
/*=======================================*/
/* Index */
/*=======================================*/
.indexHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: var(--header-height);
    padding-top: 2em;
}
.indexTitleContainer{
    display: flex;
    flex-direction: column;
}
.indexTitle{
    font-weight: 800;
    font-size: 5em;
    color: white;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.indexTitle2{
    font-weight: 600;
    font-size: 1.5em;
    color: var(--gold);
}
/*=======================================*/
/* Images */
/*=======================================*/
.indexHeader .imagesContainer{
    position: relative;
    height: var(--header-height);
    width: 40%;
    margin-left: 5em;
    margin-top: 7em;
    transition: all 400ms ease;
}
.indexHeader .imagesContainer:hover #imageMap{
    top: 6em;
    left: 10%;
}
.indexHeader .imagesContainer:hover #imageSchedule{
    top: 6em;
    left: 50%;
}
.indexHeader .imagesContainer:hover #imageSettings{
    top: 6em;
    left: 90%;
}
.singleImage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    padding: 0.5em;
    background-color: rgb(0,0,0);
    border-radius: 35px;
    box-shadow: inset 0px 0px 5px rgba(255,255,255,0.7),
    -5px 0px 10px rgba(0,0,0,0.5);
    transition: all 400ms ease;
}
#imageMap{
    top: 10em;
    left: 40%;
}
#imageSchedule{
    top: 6em;
    left: 25%;
}
#imageSettings{
    top: 2em;
    left: 10%;
}
/*=======================================*/
/* Buttons */
/*=======================================*/
.buttonsContainer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;
}
.buttonsContainer a{
    text-decoration: none;
    padding: 1em;
    border-radius: 100px;
    /* width: 45%; */
    font-weight: 600;
    font-size: 0.9em;
    transition: all ease-in-out 200ms;
}
.buttonsContainer a:hover{
    box-shadow: -3px 3px 6px rgba(0,0,0,0.7);
    transform: translate(3px, -3px);
}
.buttonInspiration{
    background-color: var(--gold);
    border: solid 2px white;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
.buttonDevelopment{
    color: white;
    border: solid 2px var(--gold);
}

.inspiration{
    padding-top: 2em;
    width: 90%;
    margin: auto;
}
.inspirationHeader{
    /* color: var(--green); */
    color: var(--gold);
    /* -webkit-text-stroke: 1px var(--gold); */
    font-size: 3em;
    font-weight: 900;
    padding: 0.3em;
    padding-left: 2em;
}
.inspiration p{
    color: white;
    text-indent: 3em;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
}
.inspiration .firstChunk{
    display: flex;
    flex-direction: row;
}
.inspiration .firstChunk .imagesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.inspiration .firstChunk .imagesContainer .mapImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.inspiration .firstChunk .imagesContainer img{
    width: 50%;
}
.inspiration .firstChunk .imagesContainer .mapImagesContainer img{
    width: 30%;
}
.inspirationPOne{
    width: 60%;
}
.firstChunk{
    padding-bottom: 1em;
}

/*====================================*/
/*Tour*/
/*====================================*/

.tour{
    width: 75%;
    margin: 3em auto;
}
.tour h1{
    color: var(--gold);
    /* -webkit-text-stroke: 1px var(--gold); */
    font-size: 3em;
    font-weight: 900;
    padding-top: 1em;
    
}
.tourWrapper{
    display: flex;
    flex-direction: row;
    height: 40em;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(201, 201, 201, 0.8));
    box-shadow: 2px 5px 20px rgba(0,0,0,0.7),
    inset 0px 0px 5px rgba(255,255,255,1);
    border-radius: 30px;
    overflow: hidden;
}
.tourWrapper .leftSide{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
    z-index: 2;
    padding: 1em;
}
.tourWrapper .rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.tourWrapper .rightSide .tourImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 3em;
    padding: 0.8em;
    box-shadow: inset 0px 0px 4px rgba(255,255,255,0.7);
    background-color: rgb(0,0,0);
    overflow: hidden;
}
.tourWrapper .rightSide img{
    width: 100%;
}
.tourWrapper .leftSide h2{
    color: var(--green);
    text-decoration: underline;
    font-size: 2.2em;
    margin-bottom: 1em;
    width: 100%;
}
.tourNextButton{
    position: absolute;
    bottom: 10%;
    text-decoration: none;
    padding: 1em;
    border-radius: 100px;
    width: 150px;
    font-weight: 600;
    font-size: 0.9em;
    transition: all ease-in-out 200ms;
    background-color: var(--gold);
    border: solid 2px white;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
