*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    --gold: rgb(233, 187, 66);
    --green: rgb(63, 98, 59);
    --header-height: 100vh;
}
body{
    background:linear-gradient(0deg, var(--green), rgb(28, 48, 26));
    background-attachment: fixed;
}
img{
    max-width: 100%;
}
a:visited{
    color: none;
}
.buttonHover:hover{
    cursor: pointer;
    box-shadow: -3px 3px 6px rgba(0,0,0,0.7);
    transform: translate(3px, -3px);
}
#paraText{
    color: white;
    text-indent: 3em;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    padding-right: 3.5em;
    padding-left: 3.5em;
}
/*=======================================*/
/* --Navigation-- */
/*=======================================*/
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    z-index: 2;
}
.navigation a, .navigation a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1em;
    transition: all ease-in-out 150ms;
}
.navigation a:hover{
    color: var(--gold);
}
/*=======================================*/
/* --Footer-- */
/*=======================================*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 15em;
    border-top: solid 2px var(--gold);
    margin-top: 5rem;
}
.logoImg{
    width: 10%;
}
.logoImage{
    transform: scale(0.8);
}
.footerRightSide{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 50%;
    height: 100%;
    padding: 1rem 4rem;
    /* border-left: 2px solid var(--gold); */
    box-shadow: -6px 0 8px -4px rgba(0,0,0,0.7);
}
footer .navLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}
footer .navLinks a, footer .navLinks a:visited{
    text-decoration: none;
    color: var(--gold);
}
.contributorsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}
.contributorsContainer p{
    color: var(--gold);
}
.footerTitles{
    top: 10px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1em;
    color: white;
    margin-bottom: 1.5em;
}
.socialsEmailContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.socialsContainer{
    display: flex;
    margin-top: 1em;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 60%;
}
.socialA{
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 3em;
    height: 3em;
    transition: all ease 200ms;
}
.socialA:hover{
    transform: scale(1.1);
}
.socialA img{
    height: 2.5em;
    padding: 0.2em;
}
.socialA p{
    font-size: 0.9em;
    padding-top: 0.5em;
}
.contactContainer h2{
    color: white;
}
.emailTextarea{
    border: none;
    resize: none;
    border-radius: 100px;
    height: 2em;
    width: 12em;
    padding: 0.5em;
    transition: all ease 400ms;
}
.emailTextarea:focus{
    border-radius: 10px;
    height: 6em;
    width: 18em;
    outline: solid 2px var(--gold);
}
.sendEmailButton{
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 100px;
    margin-top: 1em;
    width: 100px;
    font-weight: 600;
    font-size: 0.9em;
    transition: all ease-in-out 200ms;
    background-color: var(--gold);
    border: solid 2px white;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
/*=======================================*/
/* --Index-- */
/*=======================================*/
.indexMain{
    width: 100%;
    background:linear-gradient(0deg, var(--green), rgb(28, 48, 26));
    background-attachment: fixed;
}
.indexHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: var(--header-height);
    padding-top: 2em;
}
.indexTitleContainer{
    display: flex;
    flex-direction: column;
}
.indexTitle{
    font-weight: 800;
    font-size: 5em;
    color: white;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.indexTitle2{
    font-weight: 600;
    font-size: 1.5em;
    color: var(--gold);
}
.indexTitle3{
    font-weight: 650;
    font-size: 1.5em;
    color: white;
}
.indexTitle4{
    font-weight: 550;
    font-size: 2em;
    color: var(--gold);
    padding-bottom: 0.5em;
}
/*=======================================*/
/* Images */
/*=======================================*/
.indexHeader .imagesContainer{
    position: relative;
    height: var(--header-height);
    width: 40%;
    margin-left: 5em;
    transition: all 400ms ease;
}
.singleImage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14em;
    padding: 0.5em;
    background-color: rgb(0,0,0);
    border-radius: 35px;
    box-shadow: inset 0px 0px 5px rgba(255,255,255,0.7),
    -5px 0px 10px rgba(0,0,0,0.5);
    transition: all 400ms ease;
}
#imageMap{
    top: 10em;
    left: 40%;
}
#imageSchedule{
    top: 6em;
    left: 25%;
}
#imageSettings{
    top: 2em;
    left: 10%;
}
/*=======================================*/
/* Buttons */
/*=======================================*/
.buttonsContainer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;
}
.buttonsContainer a{
    text-decoration: none;
    padding: 1em;
    border-radius: 100px;
    /* width: 45%; */
    font-weight: 600;
    font-size: 0.9em;
    transition: all ease-in-out 200ms;
}
.buttonInspiration{
    background-color: var(--gold);
    border: solid 2px white;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
.buttonDevelopment{
    color: white;
    border: solid 2px var(--gold);
}

.inspiration{
    padding-top: 2em;
    width: 90%;
    margin: auto;
}
.inspirationHeader{
    /* color: var(--green); */
    color: var(--gold);
    /* -webkit-text-stroke: 1px var(--gold); */
    font-size: 3em;
    font-weight: 900;
    padding: 0.3em;
    padding-left: 2em;
}
.inspiration p{
    color: white;
    text-indent: 3em;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
}
.inspiration .firstChunk{
    display: flex;
    flex-direction: row;
}
.inspiration .firstChunk .imagesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.inspiration .firstChunk .imagesContainer .mapImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.inspiration .firstChunk .imagesContainer img{
    width: 50%;
}
.inspiration .firstChunk .imagesContainer .mapImagesContainer img{
    width: 30%;
}
.inspirationPOne{
    width: 60%;
}
.firstChunk{
    padding-bottom: 1em;
}

/*====================================*/
/*--Tour--*/
/*====================================*/

.tour{
    width: 75%;
    margin: 3em auto;
}
.tour h1{
    color: var(--gold);
    /* -webkit-text-stroke: 1px var(--gold); */
    font-size: 3em;
    font-weight: 900;
    padding-top: 1em;
    
}
.tourWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40em;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(201, 201, 201, 0.8));
    box-shadow: 2px 5px 20px rgba(0,0,0,0.7),
    inset 0px 0px 5px rgba(255,255,255,1);
    border-radius: 30px;
    overflow: hidden;
}
.tourWrapper .landingPage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(222, 222, 222), rgb(163, 163, 163));
    overflow: hidden;
    z-index: 10;
}
.tourWrapper .landingPage .imageCarrossel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 2%;
    width: calc(13em * 12.2);
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-13em * 6));
    }
}
.tourWrapper .landingPage .imageCarrossel .landingImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13em;
    border-radius: 2.2em;
    padding: 0.6em;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7), inset 0px 0px 5px rgba(255,255,255,1);
    background-color: rgb(0,0,0);
    overflow: hidden;
}

.tourWrapper .leftSide{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
    z-index: 2;
    padding: 1em;
}
.tourWrapper .tourButtonsContainer{
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.tourWrapper .rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.tourWrapper .rightSide .tourImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 3em;
    padding: 0.8em;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7), inset 0px 0px 5px rgba(255,255,255,1);
    background-color: rgb(0,0,0);
    overflow: hidden;
}
.tourWrapper .rightSide img{
    width: 100%;
}
.tourWrapper .leftSide h2{
    color: var(--green);
    /* text-decoration: underline; */
    font-size: 2.2em;
    margin-bottom: 1em;
    width: 100%;
}
.tourNextButton{
    display: block;
    text-decoration: none;
    padding: 1em;
    border-radius: 100px;
    width: 150px;
    font-weight: 600;
    font-size: 0.9em;
    background-color: var(--gold);
    border: solid 2px white;
    color: white;
    margin: 2em auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    transition: all ease-in-out 200ms;
}

.tourButton{
    border: solid 2px red;
    position: absolute;
    width: 5%;
    bottom: 5em;
    left: 40em;
    font-size: large;
}
input{
    text-decoration: none;
    color: var(--green);
    background:none;
    border:none;
    margin:0;
    padding:0;
}

/*====================================*/
/*Contributors*/
/*====================================*/

.contributorMainTitle{
    color: var(--gold);
    font-size: 3em;
    font-weight: 900;
    padding-top: 1em;
    padding-left: 3em;
}
.contributorContainer{
    display: flex;
    padding: 3em;
}
.contributorImage{
    border: 3px solid white;
    /* border-radius: 50%; */
    clip-path: circle();
}
.contributorTitle{
    padding-bottom: 0.5em;
}
.contributorLink{
    color: white;
    text-decoration: none;
    font-size: small;
    padding:0.2em;
}
.contributorLink:hover{
    color: var(--gold);
}
.tate, .jack, .nate, .ty, .emmett{
    /* color: white; */
    color: var(--gold);
    padding: 1em;

}
.tate, .nate{
    width: 20%;
}
.ty, .jack, .emmett{
    width: 20%;
}
/* .contributorText{
    color: rgba(255,255,255,0.8);
    margin: auto;
    font-size: large;
    padding-left: 7em;
    padding-right: 7em;
    /* border: 2px solid green; 
} */
.contributorText>p{
    padding: 1em;
}
.contributorInfo{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding-top: 1em;

}


